# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore build artifacts
build/
# Ignore everything in the data folder
data/*

# Re-include the data folder itself
!data/

# Include only the dataset.py file
!data/fake_dataset.py
!data/MD17_dataset.py
!data/ModelNet_dataset.py
!data/ppi_dataset.py
!data/QM9_dataset.py
